Repository step-security-bot/ansible-role-file_deployment: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyspelling, yamllint, markdown-link-check

pyspelling:
  name: pyspelling
  language: python
  entry: pyspelling -v --name markdown --source
  pass_filenames: true
  verbose: true

yamllint:
  name: yamllint
  language: python
  entry: yamllint
  pass_filenames: true
  verbose: true

markdown-link-check:
  name: markdown-link-check
  language: node
  entry: markdown-link-check -vp -c .markdown-link-check.json
  pass_filenames: true
  verbose: true

ci: Trying to fix Renovate secrets
  .github/renovate.json
Due: none

ci: Trying to fix Renovate secrets
  .github/renovate.json
  .github/renovate_global.js
  .github/renovate_global.js.secret.not.detected.bak
  .github/workflows/renovate.yml
Due: yamllint

ci: Trying to fix Renovate secrets
  .github/renovate_global.js
Due: none

ci: Trying to fix Renovate secrets
  .github/renovate_global.js
  .github/workflows/renovate.yml
Due: yamllint

ci: Trying to fix Renovate secrets
  .github/workflows/renovate.yml
Due: yamllint

ci: Adding Renovate Log Level as input
  .github/workflows/renovate.yml
Due: yamllint

ci: Removing accidentally committed backup configuration
  .github/renovate_global.js.secret.not.detected.bak
Due: none

ci: Adding Renovate as exclude
  .github/workflows/commitlint.yml
Due: yamllint

ci: Adding Scorecard workflow
  .github/workflows/scorecard.yml
Due: yamllint

ci: Hardening Ansible Lint workflow
  .github/workflows/ansible-lint.yml
Due: yamllint

feat: Adding CODEOWNERS file
  .github/CODEOWNERS
Due: none

feat: Adding code of conduct, contributing and securiy reporting guide
  .github/spellcheck/spellcheck.dic
  .github/spellcheck/wordlist.txt
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: pyspelling, markdown-link-check

ci: Enabling digest pinning for GitHub workflows
  .github/renovate.json
Due: none

ci: Adding SHA digest pinning
  .github/workflows/ansible-lint.yml
  .github/workflows/commitlint.yml
  .github/workflows/markdown-link-check.yml
  .github/workflows/markdownlint.yml
  .github/workflows/pyspelling.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/scorecard.yml
Due: yamllint

fix: Fixing uses keyword
  .github/workflows/renovate.yml
Due: yamllint

chore(deps): update ossf/scorecard-action action to v2.3.3
  .github/workflows/scorecard.yml
Due: yamllint

chore(deps): update github/codeql-action action to v3.25.10
  .github/workflows/scorecard.yml
Due: yamllint

fix: Adding permissions to workflows
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: yamllint

feat: Enabling pre-commit checking with renovate
  .github/renovate.json
Due: none

docs: Add badges to tables
  .markdown-link-check.json
Due: none

docs: Add badges to tables
  .markdown-link-check.json
  README.md
Due: pyspelling, markdown-link-check

docs: Left align tables
  README.md
Due: pyspelling, markdown-link-check

feat: Adding gitleaks
  .github/workflows/gitleaks.yml
  .pre-commit-config.yaml
Due: yamllint

fix: Adjusting permissions of gitleaks
  .github/workflows/gitleaks.yml
Due: yamllint

Path conditions:
  pyspelling: any of: .+\.md$, but not: ^(datenschutzerklaerung.md)$
  yamllint: any of: \.(yaml|yml)$
  markdown-link-check: any of: .+\.md$
