Repository step-security-bot/ansible-role-file_deployment: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyspelling, yamllint, markdown-link-check

pyspelling:
  name: pyspelling
  language: python
  entry: pyspelling -v --name markdown --source
  pass_filenames: true
  verbose: true

yamllint:
  name: yamllint
  language: python
  entry: yamllint
  pass_filenames: true
  verbose: true

markdown-link-check:
  name: markdown-link-check
  language: node
  entry: markdown-link-check -vp -c .markdown-link-check.json
  pass_filenames: true
  verbose: true

ci: Troubleshoot path-filters
  .github/workflows/molecule_certified_ees.yml
Due: yamllint

ci: Run molecule only on relevant files changed
  .github/workflows/molecule_certified_ees.yml
  .github/workflows/molecule_community_ees.yml
Due: yamllint

ci: Adding contributors workflow
  .github/workflows/contributors.yml
  docs/CONTRIBUTORS.md
Due: pyspelling, yamllint, markdown-link-check

ci: Fix api endpoints
  .github/workflows/contributors.yml
Due: yamllint

ci: Adding checkout of repository
  .github/workflows/contributors.yml
Due: yamllint

ci: Debugging contributors workflow
  .github/workflows/contributors.yml
Due: yamllint

docs(contributors): Adding new contributors
  docs/CONTRIBUTORS.md
Due: pyspelling, markdown-link-check

ci: Limiting Ansible Core in pre-commit to patch updates
  .github/renovate.json5
Due: none

ci: Remove contributors workflow
  .github/workflows/contributors.yml
Due: yamllint

ci: Specifying all possible role paths as triggers
  .github/workflows/molecule_certified_ees.yml
  .github/workflows/molecule_community_ees.yml
Due: yamllint

ci: Removing registry.redhat.io from PR title
  .github/renovate.json5
Due: none

ci: Grouping all EE updates
  .github/renovate.json5
Due: none

ci: Renaming EE group
  .github/renovate.json5
Due: none

ci: Removing unnecessary commit message topic change
  .github/renovate.json5
Due: none

chore(deps): update execution environments
  .github/workflows/molecule_certified_ees.yml
Due: yamllint

ci: Removing group slug
  .github/renovate.json5
Due: none

ci: Grouping renovate updates
  .github/renovate.json5
Due: none

ci: Experimenting with included workflows
  .github/workflows/molecule_call_workflow.yml
  .github/workflows/molecule_certified_ees_include.yml
Due: yamllint

[StepSecurity] Apply security best practices
  .github/dependabot.yml
  .github/workflows/dependency-review.yml
  .github/workflows/molecule_certified_ees.yml
  .github/workflows/molecule_certified_ees_include.yml
  .github/workflows/molecule_community_ees.yml
  .github/workflows/remove_labels.yml
  .pre-commit-config.yaml
Due: yamllint

Path conditions:
  pyspelling: any of: .+\.md$, but not: ^(datenschutzerklaerung.md)$
  yamllint: any of: \.(yaml|yml)$
  markdown-link-check: any of: .+\.md$
