Repository step-security-bot/ansible-role-file_deployment: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyspelling, yamllint, markdown-link-check

.pre-commit-config.yaml:

---
ci:
  autofix_prs: false
  skip:
    - 'pyspelling'
    - 'yamllint'
    - 'markdown-link-check'
    - 'markdownlint'
    - 'ansible-lint'

repos:
  - repo: 'https://github.com/ansible/ansible-lint'
    rev: 'v24.2.1'
    hooks:
      - name: 'ansible-lint'
        additional_dependencies:
          # https://github.com/pre-commit/pre-commit/issues/1526
          # If you want to use specific version of ansible-core or ansible, feel
          # free to override `additional_dependencies` in your own hook config
          # file.
          - 'ansible-core>=2.15'
        always_run: true
        description: 'This hook runs ansible-lint.'
        entry: 'python3 -m ansiblelint -v --force-color'
        id: 'ansible-lint'
        language: 'python'
        # do not pass files to ansible-lint, see:
        # https://github.com/ansible/ansible-lint/issues/611
        pass_filenames: false

  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: 'v4.5.0'
    hooks:
      - id: 'check-executables-have-shebangs'
      - id: 'check-merge-conflict'
        args:
          - '--assume-in-merge'
      - id: 'check-json'
      - id: 'check-shebang-scripts-are-executable'
      - id: 'check-symlinks'
      - id: 'check-toml'
      - id: 'check-xml'
      - id: 'debug-statements'
      - id: 'destroyed-symlinks'
      - id: 'detect-private-key'
      - id: 'mixed-line-ending'
        args:
          - '--fix=no'
      - id: 'pretty-format-json'
        args:
          - '--no-sort-keys'
          - '--indent=2'
      - id: 'trailing-whitespace'
        args:
          - '--markdown-linebreak-ext=md'

  - repo: 'local'
    hooks:
      - id: 'pyspelling'
        name: 'pyspelling'
        language: 'python'
        entry: 'pyspelling -v --name markdown --source'
        files: '.+\.md$'
        pass_filenames: true
        verbose: true
        exclude: '^(datenschutzerklaerung.md)$'

  - repo: 'local'
    hooks:
      - id: 'yamllint'
        name: 'yamllint'
        language: 'python'
        entry: 'yamllint'
        pass_filenames: true
        verbose: true
        types:
          - 'file'
          - 'yaml'

  - repo: 'local'
    hooks:
      - id: 'markdown-link-check'
        name: 'markdown-link-check'
        language: 'node'
        entry: 'markdown-link-check -vp -c .markdown-link-check.json'
        pass_filenames: true
        files: '.+\.md$'
        verbose: true

  - repo: 'https://github.com/igorshubovych/markdownlint-cli'
    rev: 'v0.39.0'
    hooks:
      - id: 'markdownlint'
        verbose: true
        pass_filenames: true
...

fix: Adjust fetch depth on checkout
  .github/workflows/gitleaks.yml
Due: yamllint

fix: Lower permissions of gitleaks
  .github/workflows/gitleaks.yml
Due: yamllint

docs: Adding gitleaks badges
  README.md
Due: pyspelling, markdown-link-check

chore(deps): update pre-commit hook gitleaks/gitleaks to v8.18.4
  .pre-commit-config.yaml
Due: yamllint

chore(deps): update actions/upload-artifact action to v4
  .github/workflows/scorecard.yml
Due: yamllint

chore(deps): update dependency redhat.satellite to v4
  collection/requirements.yml
Due: yamllint

ci: Fixing workflows; Adding KICS workflow
  .github/workflows/kics.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  kics.config
Due: yamllint

ci: Fixing KICS workflow; Disabling kics-scan in pre-commit
  .github/workflows/kics.yml
  .pre-commit-config.yaml
Due: yamllint

ci: Adding pre-commit workflow; Fixing KICS workflow
  .github/workflows/kics.yml
  .github/workflows/pre-commit.yml
Due: yamllint

ci: Fix insecure shell usage
  .github/workflows/release.yml
Due: yamllint

ci: Fixing wrong path for CodeQL upload
  .github/workflows/kics.yml
Due: yamllint

ci: Fix quoting
  .github/workflows/release.yml
Due: yamllint

ci: Fix shell globbing
  .github/workflows/release.yml
Due: yamllint

chore: Adding pre-commit hooks for text and shell files
  .github/CODEOWNERS
  .pre-commit-config.yaml
Due: yamllint

ci: Running scorecard on pull requests
  .github/workflows/scorecard.yml
Due: yamllint

ci: Adding token to allow retrieval of branch protection rules
  .github/workflows/scorecard.yml
Due: yamllint

fix: Removing collection that was added for testing renovate
  collection/requirements.yml
Due: yamllint

ci: Debugging release workflow
  .github/workflows/release.yml
Due: yamllint

feat: Adding semantic releases workflow
  .github/workflows/release.yml
  .releaserc.json
Due: yamllint

fix: Create a pull requests for CHANGELOG.md
  .releaserc.json
Due: none

fix: Uncommenting Galaxy publish
  .github/workflows/release.yml
Due: yamllint

ci: Adding installation of semantic-release-github-pullrequest
  .github/workflows/release.yml
Due: yamllint

ci: Removing plugin semantic-release-github-pullrequest; Adding new release config
  .github/workflows/release.yml
  .releaserc.json
  release.config.js
Due: yamllint

ci: Removing changelog file
  release.config.js
Due: none

ci: Adding conventional-changelog-conventionalcommits
  .github/workflows/release.yml
Due: yamllint

ci: Rewriting config
  .github/workflows/release.yml
  release.config.js
Due: yamllint

ci(release): Setting default assignee and discussion category
  release.config.js
Due: none

ci(release): Removing obsolete release generation
  .github/workflows/release.yml
Due: yamllint

chore(deps): update cycjimmy/semantic-release-action action to v4.1.0
  .github/workflows/release.yml
Due: yamllint

chore(deps): update actions/upload-artifact action to v4
  .github/workflows/kics.yml
Due: yamllint

docs: Align badges
  README.md
Due: pyspelling, markdown-link-check

docs: Move CodeQL
  README.md
Due: pyspelling, markdown-link-check

docs: Adding note about badge alignment
  README.md
Due: pyspelling, markdown-link-check

chore: Adding attributes for linguist
  .gitattributes
Due: none

chore: Mark Ansible related files as detectable, others not
  .gitattributes
Due: none

docs: testing
  empty_file
Due: none

docs: Removing CodeQL
  README.md
  empty_file
Due: pyspelling, markdown-link-check

ci: Run scorecard only on push to main
  .github/workflows/scorecard.yml
Due: yamllint

ci: Cache pre-commit
  .github/workflows/pre-commit.yml
Due: yamllint

ci: Add debug to pre-commit run
  .github/workflows/pre-commit.yml
Due: yamllint
