Repository step-security-bot/ansible-role-file_deployment: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyspelling, yamllint, markdown-link-check

pyspelling:
  name: pyspelling
  language: python
  entry: pyspelling -v --name markdown --source
  pass_filenames: true
  verbose: true

yamllint:
  name: yamllint
  language: python
  entry: yamllint
  pass_filenames: true
  verbose: true

markdown-link-check:
  name: markdown-link-check
  language: node
  entry: markdown-link-check -vp -c .markdown-link-check.json
  pass_filenames: true
  verbose: true

temporarily remove pyspelling
  .pre-commit-config.yaml
Due: yamllint

Unify the branch specification
  .github/workflows/ansible-lint.yml
  .github/workflows/markdown-link-check.yml
  .github/workflows/markdownlint.yml
Due: yamllint

Moving renovate.json
  .github/renovate.json
Due: none

Change category to announcements
  .github/workflows/release.yml
Due: yamllint

Disabling dependency dashboard
  .github/renovate.json
Due: none

temp disable pyspelling
  .pre-commit-config.yaml
Due: yamllint

Configuring renovate
  .github/renovate.json
Due: none

Adding back pyspelling
  .pre-commit-config.yaml
Due: yamllint

fix: changing content matcher to be non-greedy
  .github/spellcheck/spellcheck.yml
Due: yamllint

chore(pre-commit): Adding commitlint and jshint, adjusting hook stages
  .pre-commit-config.yaml
Due: yamllint

chore(pre-commit): Adding configuration for commitlint
  .commitlintrc.js
Due: none

ci: Adding commitlint
  .github/workflows/commitlint.yml
Due: yamllint

ci: Fixing missing permission elevation
  .github/workflows/commitlint.yml
Due: yamllint

ci: Moving to nodejs 20
  .github/workflows/commitlint.yml
Due: yamllint

chore(commitlint): Removing selective-scope plugin
  .commitlintrc.js
Due: none

chore(pyspelling): Fixing pyspelling configuration
  .github/spellcheck/spellcheck.yml
Due: yamllint

ci: Removing skipping of jshint
  .pre-commit-config.yaml
Due: yamllint

ci: Ignoring URLs with %23
  .markdown-link-check.json
Due: none

style: Adding badges
  .pre-commit-config.yaml
  README.md
Due: pyspelling, yamllint, markdown-link-check

style: Adding empty divider line for badges
  README.md
Due: pyspelling, markdown-link-check

ci: Exclude pre-commit ci
  .github/workflows/commitlint.yml
Due: yamllint

ci: Adding commit message
  .pre-commit-config.yaml
Due: yamllint

ci: Fix pre-commit-ci bot name
  .github/workflows/commitlint.yml
Due: yamllint

fix: Making nospell line matcher non-greedy
  .github/spellcheck/spellcheck.yml
Due: yamllint

chore: Adjusting incompatible yamllint configurion
  .yamllint
Due: none

chore: Adding Renovate workflow
  .github/renovate/renovate_wf.json
  .github/workflows/renovate.yml
Due: yamllint

ci: Fixing Renovate workflow
  .github/workflows/renovate.yml
Due: yamllint

ci: Migrating Renovate configuration
  .github/renovate/renovate_wf.json
Due: none

ci: Migrating Renovate configuration
  .github/workflows/renovate.yml
Due: yamllint

ci: Trying to add support for Automation Hub
  .github/renovate.json
  .github/renovate_global.js
  .github/workflows/renovate.yml
Due: yamllint

ci: Trying to fix Renovate secrets
  .github/workflows/renovate.yml
Due: yamllint

ci: Trying to fix Renovate secrets
  .github/renovate_global.js
  .github/workflows/renovate.yml
Due: yamllint

ci: Trying to fix Renovate secrets
  .github/renovate_global.js
Due: none

test: Adding bogus collection to test renovate
  collection/requirements.yml
Due: yamllint

ci: Trying to fix Renovate secrets
  .github/renovate.json
  .github/workflows/renovate.yml
Due: yamllint

Path conditions:
  pyspelling: any of: .+\.md$, but not: ^(datenschutzerklaerung.md)$
  yamllint: any of: \.(yaml|yml)$
  markdown-link-check: any of: .+\.md$
